.cookie-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: none;
}

.disappear {
  z-index: -1;
  opacity: 0;
}

.cookie-wrap a {
  text-decoration: none;
  color: #e94584;
}

.cookie-wrap a:hover {
  text-decoration: none;
  color: #ffdc18;
}

.cookie-wrap a:visited {
  text-decoration: none;
  color: #8335d0;
}

@media screen and (max-width: 500px) {
  .inner-cookie-wrap {
    position: fixed;
    top: 10vh;
    background-color: none;
    width: 100vw;
    z-index: 1;
  }

  .cookie-dialog {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    border-color: #000000;
    width: 80vw;
    position: -webkit-sticky;
    position: sticky;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }

  .cookie-dialog :nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .cookie-text {
    font-size: 0.75rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    align-content: center;
  }

  .button-wrap {
    margin-left: 3rem;
    margin-right: 3rem;
    display: grid !important;
    grid-template-rows: 50% 50%;
  }

  .accept-button,
.decline-button {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    padding: 0.5rem;
    color: #ffffff;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
  }

  .decline-button {
    background-color: #000000;
    align-items: stretch;
  }

  .accept-button {
    background-color: #000000;
    align-items: stretch;
  }

  .accept-button ::after, .decline-button ::after {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
}
@media screen and (min-width: 500px) {
  .inner-cookie-wrap {
    position: fixed;
    top: 40vh;
    background-color: none;
    width: 100vw;
  }

  .cookie-dialog {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    border-color: #000000;
    width: 80vw;
    position: -webkit-sticky;
    position: sticky;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }

  .cookie-dialog :nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .cookie-text {
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    align-content: center;
  }

  .button-wrap {
    margin-left: 3rem;
    margin-right: 3rem;
    align-content: stretch;
  }

  .accept-button,
.decline-button {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 0.5rem;
    color: #ffffff;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .decline-button {
    background-color: #000000;
    padding: 2rem;
  }

  .accept-button {
    background-color: #000000;
    padding: 2rem;
    align-items: stretch;
  }

  .accept-button ::after, .decline-button ::after {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
}
@media screen and (min-width: 800px) {
  .inner-cookie-wrap {
    position: fixed;
    top: 50vh;
    background-color: none;
    width: 100vw;
  }

  .cookie-dialog {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    border-color: #000000;
    width: 80vw;
    position: -webkit-sticky;
    position: sticky;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }

  .cookie-text {
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
  }

  .button-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .accept-button,
.decline-button {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    border-radius: 20px;
    color: #ffffff;
    padding: 1rem;
  }

  .decline-button {
    background-color: #000000;
    margin-right: 0;
  }

  .accept-button {
    background-color: #000000;
    margin-left: 0;
    align-items: stretch;
  }

  .accept-button ::after, .decline-button ::after {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
}
@media screen and (min-width: 1200px) {
  .inner-cookie-wrap {
    position: fixed;
    top: 70vh;
    background-color: none;
    width: 100vw;
  }

  .cookie-dialog {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    border-color: #000000;
    width: 80vw;
    position: -webkit-sticky;
    position: sticky;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }

  .cookie-dialog :nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .cookie-text {
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    align-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .button-wrap {
    margin-left: 3rem;
    margin-right: 3rem;
    display: grid !important;
    grid-template-columns: 50% 50%;
  }

  .accept-button,
.decline-button {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 0.5rem;
    color: #ffffff;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .decline-button {
    background-color: #000000;
    margin-right: 1rem;
  }

  .accept-button {
    background-color: #000000;
    display: flex;
    align-items: stretch;
    margin-left: 1rem;
  }

  .accept-button ::after, .decline-button ::after {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
}