<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase .
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI}
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^.*$ /myapp/index.html [QSA,L]
    # Fallback all other routes to index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !/index\.html$ [NC]
    RewriteRule ^blog/(?:(.+)/?)?$ /blog/$1/index.html [L,NC,R=301]
</IfModule>