.page_title {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background: linear-gradient(45deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
  background-size: 600% 100%;
  -webkit-animation: gradient 16s linear infinite;
          animation: gradient 16s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  overflow-x: hidden;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.page_title h1 {
  width: auto;
  height: auto;
  margin: 0;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Staatliches";
  font-size: 5rem;
  text-align: center;
}

.title_wrapper {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 500px) {
  .page_title h1 {
    width: auto;
    height: auto;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Staatliches";
    font-size: 3rem;
    text-align: center;
  }
}