.ProseMirror:focus {
  overflow-x: auto;
  outline-offset: 1rem;
}

.ProseMirror {
  overflow-wrap: normal;
  word-break: normal;
}

.editor img {
  max-width: 100%;
  height: auto;
  padding: 1rem;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  border-radius: 40px;
  text-align: center;
}

.editor:focus {
  outline: auto;
}

@media screen and (max-width: 500px) {
  .editor-toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  .editor-toggle-icon {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .editor-toggle-text {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .post-header {
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
  }

  .tooltip button {
    background-color: black;
    color: #ffffff;
    padding: 0.75rem;
    border-radius: 10px;
  }

  .editor-button {
    font-size: 0.75rem;
    cursor: pointer;
  }

  .editor-button-wrap {
    margin-top: 1rem;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    cursor: pointer;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    background-color: #e94584;
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 95%;
    cursor: pointer;
  }

  .post-wrapper {
    display: block;
    color: #ffffff;
    align-items: center;
    max-width: 90vw;
    width: 100%;
  }

  .editor {
    font-size: 1rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
  }

  .editor:hover,
.editor:active {
    outline: auto;
  }

  .post-title,
.post-subtitle,
.editor {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    background-color: #262624;
    color: #ffffff;
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .post-title:hover,
.post-title:active,
.post-subtitle:hover,
.post-subtitle:active,
.editor:hover,
.editor:active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .post-title {
    font-size: 1rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
    padding-bottom: 0.5rem;
    max-width: 100%;
  }

  .post-subtitle {
    font-family: "Advent Pro", sans-serif;
    font-size: 1rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    bottom: calc(0.5rem + 100%);
    right: 50%;
    transform: translateX(50%);
    visibility: visible;
  }
}
@media screen and (min-width: 501px) {
  .editor-toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .editor-toggle-icon {
    margin-left: 1rem;
    font-size: 2rem;
  }

  .editor-toggle-text {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .tooltip button {
    background-color: black;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .editor-button {
    font-size: 1.5rem;
    margin: 0.25rem;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    margin-top: 1rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    max-width: 90vw;
    width: 100%;
    background-color: #e94584;
    color: #ffffff;
    padding: 1rem;
    cursor: pointer;
  }

  .post-wrapper {
    margin: 2rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .post-wrapper form {
    max-width: 100%;
  }

  .editor {
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .post-title,
.post-subtitle,
.editor {
    border-style: none;
    background-color: #262624;
    color: #ffffff;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
  }

  .post-title {
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
  }

  .post-subtitle {
    font-family: "Advent Pro", sans-serif;
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}
@media screen and (min-width: 700px) {
  .editor-toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .editor-toggle-icon {
    margin-left: 1rem;
    font-size: 2rem;
  }

  .editor-toggle-text {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .tooltip button {
    background-color: black;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .editor-button {
    font-size: 1.5rem;
    margin: 0.25rem;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    margin-top: 1rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    max-width: 90vw;
    width: 100%;
    background-color: #e94584;
    color: #ffffff;
    padding: 1rem;
    cursor: pointer;
  }

  .post-wrapper {
    margin: 2rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .post-wrapper form {
    max-width: 100%;
  }

  .editor {
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .post-title,
.post-subtitle,
.editor {
    border-style: none;
    background-color: #262624;
    color: #ffffff;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
  }

  .post-title {
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
  }

  .post-subtitle {
    font-family: "Advent Pro", sans-serif;
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}
@media screen and (min-width: 950px) {
  .editor-button-wrap > * {
    background-color: black;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    margin-top: 3rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    background-color: #e94584;
    color: #ffffff;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
  }

  .post-wrapper {
    margin: 3rem;
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .editor {
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .post-title,
.post-subtitle,
.editor {
    border-style: none;
    background-color: #262624;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .post-title {
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .post-subtitle {
    font-family: "Advent Pro", sans-serif;
    margin-bottom: 1rem;
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    font-size: 2rem;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}
@media screen and (min-width: 1200px) {
  .editor-button-wrap > * {
    background-color: black;
    color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    margin-top: 3rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    background-color: #e94584;
    color: #ffffff;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
  }

  .post-wrapper {
    margin: 3rem;
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .editor {
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .post-title,
.post-subtitle,
.editor {
    border-style: none;
    background-color: #262624;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .post-title {
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .post-subtitle {
    font-family: "Advent Pro", sans-serif;
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}
@media screen and (min-width: 1500px) {
  .editor-button-wrap > * {
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1.5rem;
  }

  .editor-button {
    font-size: 1.5rem;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    margin-top: 3rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    background-color: #e94584;
    color: #ffffff;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
  }

  .post-wrapper {
    margin: 5rem;
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .editor {
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .post-title,
.post-subtitle,
.editor {
    border-style: none;
    background-color: #262624;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .post-title {
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .post-subtitle {
    font-family: "Advent Pro", sans-serif;
    margin-bottom: 2rem;
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}